<mat-toolbar id="header">
  <div>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <a href="/home" class="nav-link" routerLink="home">uLearn</a>
      <a *ngIf="showAdminBoard" href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      <a  *ngIf="showModeratorBoard" href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
    </ul>
  </div>

  <div id="login">
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <a href="/register" class="nav-link" routerLink="register">Sign Up</a>


      <a href="/login" class="nav-link" routerLink="login">Login</a>
    </ul>
  </div>

  <div id="profile">
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      <a href class="nav-link" (click)="logout()">LogOut</a>
    </ul>
  </div>

</mat-toolbar>
