
<div class="main-div">
<mat-card>
  <mat-grid-list class="grid" cols="3" rowHeight="50px">
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
    <mat-grid-tile colspan="1" rowspan="1"> <label for="username">Username  </label> </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-form-field>
        <input
          matInput
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel">
          <mat-error *ngIf="username.errors.required"> Username is required</mat-error>
          <mat-error *ngIf="username.errors.minlength"> Username must be at least 3 characters</mat-error>
          <mat-error *ngIf="username.errors.maxlength"> Username must be at most 20 characters</mat-error>
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1"><label for="email">Email</label></mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-form-field>
        <input
          matInput
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel">
          <mat-error *ngIf="email.errors.required">Email is required</mat-error>
          <mat-error *ngIf="email.errors.email">Email must be a valid email address
          </mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1"><label for="password">Password</label> </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-form-field>
        <input
          matInput
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel">
          <mat-error *ngIf="password.errors.required">Password is required</mat-error>
          <mat-error *ngIf="password.errors.minlength">Password must be at least 6 characters</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" class="tile-butt">
      <button mat-raised-button color="accent" class="btn btn-primary btn-block">Sign Up</button>
    </mat-grid-tile>
    </form>
  </mat-grid-list>
</mat-card>
</div>

