<mat-card>
  <form (submit)="onSubmit(tokenForm)" #tokenForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Token"
        name="token"
        #token
        required>
        <mat-error *ngIf="token.invalid">Please enter the token!</mat-error>
    </mat-form-field>
    <p>             </p>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="User"
        name="user"
        #user
        required>
        <mat-error *ngIf="user.invalid">Please enter the username!</mat-error>
    </mat-form-field>
    <p> </p>
    <button
     mat-raised-button
     color="accent"
     type="submit">Send!</button>
  </form>
</mat-card>
